.page_container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.page_lhs {
  width: 40%;
  margin-left: 15%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.page_rhs {
  width: 40%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

#projects {
  width: 40vw; /* 40% of viewport width */
  margin-top: 24%;
}

#projects-title {
  position: relative;
  display: inline-block;
}

#projects-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 422%;        /* extend beyond text */
  height: 1px;
  background-color: rgba(var(--primary-text-rgb), 0.5);
}

/* the tag */
#projects-title .tag {
  position: absolute;
  right: -322%;   /* aligns with end of 422% underline */
  bottom: 0;      /* sits just above the underline */
  font-size: 1.25rem;
  color: var(--primary-text);
  white-space: nowrap;
  font-family: "PPNeueMontreal-Thin";
}

#project_title {
  margin-top: 2rem;
}

#project_videos {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.video_track {
    display: flex;
    flex-direction: column;
    will-change: transform;
}

.gallery-video {
    width: 100%;
    height: 600px;
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    margin-bottom: 40vh;
}

#zombie-demo {
    margin-top: 32rem;
}

#project_info_container {
    position: relative;
    overflow: hidden;
    height: 600px;
}

.project_info {
    height: 600px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.25s ease;
}

#project_tally {
    margin-top: 5rem;
    overflow: hidden;
}

#project_number {
    display: inline-block;
}

.number-up {
    animation: numberUp 0.4s ease;
}

.number-down {
    animation: numberDown 0.4s ease;
}

@keyframes numberUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes numberDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.project_info_fade {
    opacity: 0;
    transition: opacity 0.25s ease;
}

#project_category {
  margin-top: 1rem;
}

#project_paragraph {
    margin-top: 2rem;
    width: 75%;
    font-size: 1.5;
    font-weight: --fw-bold;
    line-height: 1;
    font-family: "PPNeueMontreal-Thin";
}

