/*------------------------------------------------------------------
[Master Stylesheet]

Project: Portfolio
Last change: 28 March 2026
Primary use: Portfolio Template  
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Fonts.
2. Custom Properties.
3. Styles for Different Screen Sizes.
4. General Styles.
5. Buttons.
6. Typography.
7. Buttons.
8. Header & Nav Bar
    8.1. Change Background on Mouse-Hover.
9. Hero

-------------------------------------------------------------------*/

/* ================================================= */
/* Fonts */
/* ================================================= */

@font-face { 
  font-family: 'PPNeueMontreal-Medium'; 
  src: 
      url('../fonts/PPNeueMontreal-Medium.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Bold'; 
  src: 
      url('../fonts/PPNeueMontreal-Bold.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Book'; 
  src: 
      url('../fonts/PPNeueMontreal-Book.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Italic'; 
  src: 
      url('../fonts/PPNeueMontreal-Italic.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Thin'; 
  src: 
      url('../fonts/PPNeueMontreal-Thin.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Hairline'; 
  src: 
      url('../fonts/PPNeueMontreal-Hairline.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}

/* ================================================= */
/* Custom properties */
/* ================================================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-border-radius: 8px;
  --default-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, fill .2s ease-in-out, transform .3s ease-in-out, transition .2s ease-in-out;

  --page-bg: #fff;

  --primary-text: #3C3A47;
  --muted-text: #B1B0B5;

  --primary-font: 'PPNeueMontreal-Thin';

  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 8.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.25rem;
  --fs-h6: 1.125rem;
  --fs-body: 1.25rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0px;
}

:root[data-theme="light"] {
  --page-bg: #ffffff;

  --primary-text: #3c3a47;
  --primary-text-rgb: 60, 58, 71;
  --muted-text: #b1b0b5;

  --input-bg: #f5f5f6;
  --input-bg-hover: #ecebed;
  --input-border-focus: var(--muted-text);
  --input-text: var(--primary-text);
  --input-placeholder: var(--muted-text);

  --button-text: #d19361;
  --button-text-hover: #faf4ef;

  --switch-bg: #f5f5f6;
  --switch-circle-bg: #ffd371;
  --switch-circle-pos: 0.15rem;
  --icon-sun: #997f44;
  --icon-moon: var(--muted-text);
  
  --nav-bg: #ffffff;
  --mob-nav-bg: #2d2c35;
  --mob-nav-text: #f5f5f6;
  --mob-nav-border: rgba(245, 245, 246, 0.025);

  --icon-socials: var(--primary-text);
  --icon-socials-hover: #77757e;

  --background: var(--light-background);
  --primary: var(--light-primary);
  --link: var(--light-link);
  --hover: var(--light-hover);
}

:root[data-theme="dark"] {
  --page-bg: #1a1826;

  --primary-text: #ffffff;
  --primary-text-rgb: 255, 255, 255;
  --muted-text: #77757e;

  --input-bg: #2d2c35;
  --input-bg-hover: #24232b;
  --input-border-focus: #1d1c23;
  --input-text: var(--primary-text);
  --input-placeholder: var(--muted-text);
  --input-nav-bg: #27252e;

  --button-text: #d19361;
  --button-text-hover: #faf4ef;

  --switch-bg: var(--input-bg);
  --switch-circle-bg: #7190ff;
  --switch-circle-pos: 2.22rem;
  --icon-sun: var(--muted-text);
  --icon-moon: #dce3ff;

  --nav-bg: #1a1826;
  --mob-nav-bg: #f5f5f6;
  --mob-nav-text: #2d2c35;
  --mob-nav-border: rgba(45, 44, 53, 0.04);

  --icon-socials: var(--primary-text);
  --icon-socials-hover: #b1b0b5;

  --background: var(--light-background);
  --primary: var(--light-primary);
  --link: var(--light-link);
  --hover: var(--light-hover);

  /* Gentoo Icon Colours */
  --gen-colour-1: #bebdf3;
  --gen-colour-2: #867fb7;
  --gen-colour-3: #524c76;
  --gen-colour-4: #bebbdb;
  --gen-colour-5: #928bbe;
  --gen-colour-6: #9f99c7;
}

/* ============================================================== */
/* Hamburger and Cross for Navbar at Smaller Screen Sizes */
/* ============================================================== */

.nav-toggle {
  display: none;
  cursor: pointer;
}
.nav-btn {
  display: none;
}
.open {
  height: 21rem;
  z-index: 2;
}
.hidden {
  display: none;
}

/* ================================================= */
/* Define styles for different screen sizes */
/* ================================================= */

@media all and (max-width: 830px) {
  #sidemenu {
    padding-top: 0.25rem;
    padding-left: 0.8rem;
  }
  #logo-link {
    width: 10rem;
    margin-bottom: 3%;
  }
  .nav-logo {
    height: 3.75rem;
  }
  header nav {
    height: 0;
    width: 20%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }
  header nav ul {
    flex-direction: row;
  }
  body header.sticky nav ul {
    padding: 0 1rem;
  }
  .nav-btn {
    display: block;
  }
  header nav ul li {
    height: 3rem;
    display: block;
    background: var(--mob-nav-bg);
    border-style: solid;
    border-width: thin;
    border-color: var(--mob-nav-border);
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'PPNeueMontreal-Book'; 
  }
  header nav ul li:hover {
    background: var(--primary-text);
    color: var(--page-bg);
    transition: var(--default-transition);
    cursor: pointer;
  }
  header nav ul li a {
    display: block;
    width: 100%;
    padding: 0 0 0 0.625rem;
    color: var(--mob-nav-text);
    line-height: 2.7;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: var(--primary-text);
    color: var(--primary-text);
  }
  .navIcon line {
    stroke: var(--primary-text);;
  }
}

@media only screen and (max-width: 650px) {
  body #hero h1 {
    padding-top: 9rem;
    padding-right: 2rem;
    padding-left: 1.5rem;
  }
  body #hero h2 {
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 400px) {
  body #hero {
    height: 36rem;
  }
  body #hero .arrows-body {
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 380px) {
  body #hero h2{
    font-size: 1.625rem;
    padding-top: 0.25rem;
    padding-right: 7.25rem;
  }
}

/* ================================================= */
/* General styles */
/* ================================================= */

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  font-size: var(--fs-body);
  font-family: var(--primary-font);
  line-height: 1.6;
  justify-content: center;
  background-color: var(--page-bg);
  color: var(--primary-text);
  transition: color 0.5s;
  transition: var(--default-transition) 0.5s;
}

body::before {
  background: url(../images/bg-texture.png) repeat-y center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  content: "";
  position: fixed;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.hs-title {
  font-family: 'PPNeueMontreal-Thin';
  margin-bottom: 3rem;
  margin-top: 0;
  font-weight: var(--fw-reg);
  letter-spacing: normal;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* ================================================= */
/* Typography */
/* ================================================= */

h1,
h2,
h3, 
h4 {
  font-family: "PPNeueMontreal-Thin";
  font-weight: --fw-bold;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

/* ================================================= */
/* Header & Nav Bar */
/* ================================================= */

header {
    position: fixed;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
}

header.sticky {
  border-block-start:  1px;
  border-color: var(--primary-text);
  background-color: var(--nav-bg);
  position: fixed;
  filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.05));
  width: 100%;
  transition: var(--default-transition);
  z-index: 2;
}

header.sticky nav ul {
  transition: var(--default-transition);
}

@keyframes blurIn {
  from { 
    filter: blur(20px); 
    opacity: 0; 
  }
  to { 
    filter: blur(0); 
    opacity: 1; 
  }
}

#nav-container {
  animation: blurIn 0.6s ease-out;
  /* Forces GPU acceleration for smoother interaction */
  transform: translate3d(0,0,0); 
  will-change: filter;
}

nav {
    flex: 1; /* Makes the nav container take up all remaining space */
    transition: var(--default-transition);
}

#nav-menu {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the list fills the nav container */
    justify-content: space-around; /* Spreads buttons evenly across the height */
    list-style: none;
    padding-top: 1rem;
    padding-right: 6rem;
}

.link-icon {
    font-size: 1.5rem;
    justify-content: none; /* Spreads buttons evenly across the height */
    padding: 0;
}


nav ul li {
  display: inline-block;
  font-family: "PPNeueMontreal-Book";
  font-size: 1.1rem;
  font-weight: --fw-bold;
}

.nav_link {
  display: block;
  text-align: left;
  padding-top: 2rem;
  padding-left: 4rem;
  transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-decoration: none;
  color: var(--primary-text);
}

#explore-link {
  display: block;
  transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-decoration: none;
  color: var(--primary-text);
}

#explore-link::after {
  content: "";
  position: absolute;
  left: 4rem;
  bottom: -2px; /* adjust spacing under text */
  width: 0;
  height: 2px;
  background-color: var(--primary-text);
  transition: width 0.3s ease;
}

#explore-link:hover::after {
      width: 140%;
}

/* ================================================= */
/* Social List */
/* ================================================= */

#social-list {
    margin-top: 4rem;
}

.social-list_link {
    display: block;
    text-align: left;
    margin: 1rem 1rem 1rem 4rem;
    transition: background 0.3s;
    text-decoration: none;
    color: var(--primary-text);

    transition:
      color 0.35s ease,
      transform 0.35s ease;
}

/* Expanding circular background */
.social-list_link::before {
  content: "";
  position: absolute;

  inset: 0;

  border-radius: 50%;
  background: var(--primary-text);

  transform: scale(0);
  transform-origin: center;

  transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1);

  z-index: 0;
}

/* Keep icon above animated background */
.social-list_link .link-icon {
  position: relative;
  z-index: 1000;
  font-size: 1.5rem;
}

/* Hover animation */
.social-list_link:hover::before {
  transform: scale(1);
}

/* Change icon colour on hover */
.social-list_link:hover {
  color: none;
  transform: translateY(-3px);
}

/* ================================================= */
/* Logo */
/* ================================================= */

#logo {
  margin-top: 25.75rem;
  padding: 0.75rem;
  animation: blurIn 0.6s ease-out;
}

#text111, #rect515 {
  color: var(--primary-text);
  fill: var(--primary-text);
}

/* ================================================= */
/* Theme Switcher */
/* ================================================= */

#theme-switcher_wrapper {
  position: sticky;
  top: 0;
  height: 10%;              /* define the bar height */
  width: 100%;
  display: flex;
  align-items: center;       /* ensures consistency */
  justify-content: flex-end;
  z-index: 1000;
  transition: top 0.3s ease;

  /* Styling (important so it's visible) */
  border-bottom: 1px solid var(--border-color);
}

#theme-switcher_wrapper.visible {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease;

  height: 10%;              /* define the bar height */
  display: flex;
  align-items: center;       /* ⬅️ THIS centers vertically */
  justify-content: flex-end; /* pushes switcher to the right */

  /* Styling (important so it's visible) */
  border-bottom: 1px solid var(--border-color);
}

#theme-switcher {
  background-color: var(--switch-bg);
  border-radius: 2.375rem;
  height: 2rem;
  width: 4.175rem;
  margin: 1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.95rem;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  transform: var(--default-border-radius);
}

#theme-switcher::before {
  content: '';
  position: absolute;
  width: 1.675rem;
  height: 1.675rem;
  background-color: var(--switch-circle-bg);
  border-radius: 37.5px;
  z-index: 0;
  left: 0.5px;
  transform: translateX(var(--switch-circle-pos));
  transition: var(--default-transition);
}

#theme-switcher svg {
  z-index: 2;
  transition: var(--default-transition);
  margin-left: auto;
}

/* Icons */
.icon {
  pointer-events: none;
}

/* Show only one icon depending on theme */
body.dark .sun {
  display: none;
}

body:not(.dark) .moon {
  display: none;
}
#icon-sun {
  fill: var(--icon-sun);
}

#icon-moon {
  fill: var(--icon-moon);
}

/* Knob */
.knob {
  fill: var(--knob);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ON state (dark mode) */
body.dark .track {
  fill: var(--track-on);
}

/* Move knob to the right */
body.dark .knob {
  transform: translateX(30px);
}

/* Press animation */
#theme-switch:active .knob {
  transform: scale(0.9);
}

/* ================================================= */
/* Hero */
/* ================================================= */

#hero {
  height: 12rem;
}

#hero h1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "PPNeueMontreal-Hairline";
  padding-top: 4.75rem;
  margin-left: 19rem;
}

.name-line {
  display: flex;
  justify-content: left;
  white-space: nowrap;
}

/* This acts like a window */
.letter-wrap {
  display: inline-block;
  overflow: hidden;
}

.letter {
  display: inline-block;
  transform: translateY(20%);
  opacity: 0;
  animation: riseUp 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* Keyframes */
@keyframes riseUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#hero h2 {
  text-align: left;
  font-family: "PPNeueMontreal-Thin";
  padding-right: 12.5rem;
  margin-left: 19.5rem;
  animation: blurIn 0.8s ease-out;
}

/* ================================================= */
/* About Me Styles */
/* ================================================= */

.about-me-wrapper {
  display: flex;
  justify-content: flex-end; /* right */
  align-items: flex-end;     /* bottom */
  height: 100%;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;        /* vertical center */
  margin-top: 12.5rem;
  margin-right: 3.5rem;
  max-width: 44rem;
  animation: blurIn 0.8s ease-out;
}

#bio-title {
  position: relative;
  display: inline-block;
}

#bio-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 422%;        /* extend beyond text */
  height: 1px;
  background-color: rgba(var(--primary-text-rgb), 0.5);
}

#bio-p1, 
#bio-p2,
#bio-p3 {
  margin-right: 3.75rem;
  padding-bottom: 0.25rem;
  word-wrap: break-word; /* Ensures long words don't overflow */
  text-align: left;
  display: block;
}

/* ================================================= */
/* Contact Me */
/* ================================================= */

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* right */
  align-items: flex-start;     /* bottom */
  margin-top: -5.25rem;
  opacity: 0;
  animation: fadeInPage 0.8s ease 0.6s forwards;
}

#contact-p1,
#contact-p2 {
  margin-left: 18.5rem;
  display: block;
  padding-bottom: none;
}

/* ================================================= */
/* Motivation */
/* ================================================= */

.motivation-wrapper {
  margin-top: 24.5vh;
  display: flex;
  justify-content: flex-start; /* right */
  margin-left: 3%;
}

#motivation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;        /* vertical center */
  margin-left: 15rem;
  max-width: 44rem
}

#motivation-title {
  position: relative;
  display: inline-block;
}

#motivation-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 430%;        /* extend beyond text */
  height: 1px;
  background-color: rgba(var(--primary-text-rgb), 0.5);
}

#motivation-p1, 
#motivation-p2
#motivation-p3 {
  margin-right: 3.75rem;
  padding-bottom: 0.25rem;
  word-wrap: break-word; /* Ensures long words don't overflow */
  text-align: left;
  display: block;
}

/* ================================================= */
/* Skills */
/* ================================================= */

#skills {
  display: block;
  justify-content: space-between; /* spreads them evenly across the width */
  align-items: center;            /* keeps them aligned nicely */
  margin-top: 13rem;
  margin-left: 15.875%;
  max-width: 90%;
}

#skills-title {
  position: relative;
  display: inline-block;
  margin-bottom: 4.25%;
}

#skills-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 1500%;        /* extend beyond text */
  height: 1px;
  background-color: rgba(var(--primary-text-rgb), 0.5);
}

.skills-headings {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.skills-column {
  width: 24rem;
}

#skills h3 {
  flex: 1;
  text-align: left;
}

.skills-column h3 {
  margin-bottom: 1.5rem;
}

.skills-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 0 0 auto;
}

.skill {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 6px 10px;
  border-radius: 10px;

  flex: 0 0 auto;

  border: 1px solid rgba(var(--primary-text-rgb), 0.2);
  color: var(--primary-text);

  transition: border-color 0.4s ease,
              color 0.4s ease,
              background-color 0.4s ease;
}

.skill:hover {
  border-color: rgba(var(--primary-text-rgb), 0.2);
  color: var(--nav-bg);
  background-color: var(--primary-text);
}

.skill i {
  font-size: 40px;
  line-height: 1;
}

.skill span {
  margin-top: 4px;   /* small gap under icon */
  text-align: left;
  font-size: 1rem;
  position: relative;
  top: 2px; /* 👈 subtle downward shift */
}

#gentoo_logo {
    height: 40px;
}

/* ================================================= */
/* Projects */
/* ================================================= */

#external_links {
  margin-top: 8%;
  padding-bottom: 5%;
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Ensures the container spans the full page width */
}

.external_link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--primary-text);
    margin-right: 7.5%;
}

.arrow {
    display: inline-block;
    transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.external_link:hover .arrow {
    transform: translateX(10px);
}

/* ================================================= */
/* Experience */
/* ================================================= */

/* ================================================= */
/* Interests */
/* ================================================= */

/* ================================================= */
/* Footer */
/* ================================================= */

@keyframes fadeInPage {
  to {
    opacity: 1;
  }
}

@keyframes arrowBounce {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(8px); }
    100% { transform: translateX(0); }
}
