/*------------------------------------------------------------------
[Master Stylesheet]

Project: Portfolio
Last change: 28 March 2026
Primary use: Portfolio Template  
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Fonts.
2. Custom Properties.
3. Styles for Different Screen Sizes.
4. General Styles.
5. Buttons.
6. Typography.
7. Buttons.
8. Header & Nav Bar
    8.1. Change Background on Mouse-Hover.
9. Hero

-------------------------------------------------------------------*/

/* ================================================= */
/* Fonts */
/* ================================================= */

@font-face { 
  font-family: 'PPNeueMontreal-Medium'; 
  src: 
      url('../fonts/PPNeueMontreal-Medium.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Bold'; 
  src: 
      url('../fonts/PPNeueMontreal-Bold.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Book'; 
  src: 
      url('../fonts/PPNeueMontreal-Book.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Italic'; 
  src: 
      url('../fonts/PPNeueMontreal-Italic.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

@font-face { 
  font-family: 'PPNeueMontreal-Thin'; 
  src: 
      url('../fonts/PPNeueMontreal-Thin.otf')  
      format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

/* ================================================= */
/* Custom properties */
/* ================================================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-border-radius: 8px;
  --default-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, fill .2s ease-in-out, transform .3s ease-in-out, transition .2s ease-in-out;

  --page-bg: #fff;

	--primary-text: #3C3A47;
	--muted-text: #B1B0B5;

  --primary-font: 'PPNeueMontreal-Book';

  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 8.5rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.25rem;
  --fs-h6: 1.125rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0px;
}

:root[data-theme="light"] {
  --page-bg: #ffffff;

  --primary-text: #3c3a47;
  --muted-text: #b1b0b5;

  --input-bg: #f5f5f6;
  --input-bg-hover: #ecebed;
  --input-border-focus: var(--muted-text);
  --input-text: var(--primary-text);
  --input-placeholder: var(--muted-text);

  --button-text: #d19361;
  --button-text-hover: #faf4ef;

  --switch-bg: #f5f5f6;
  --switch-circle-bg: #ffd371;
  --switch-circle-pos: 0.15rem;
  --icon-sun: #997f44;
  --icon-moon: var(--muted-text);
  
  --nav-bg: #ffffff;
  --mob-nav-bg: #2d2c35;
  --mob-nav-text: #f5f5f6;
  --mob-nav-border: rgba(245, 245, 246, 0.025);

  --icon-socials: var(--primary-text);
  --icon-socials-hover: #77757e;

  --background: var(--light-background);
  --primary: var(--light-primary);
  --link: var(--light-link);
  --hover: var(--light-hover);
}

:root[data-theme="dark"] {
  --page-bg: #1a1826;

  --primary-text: #ffffff;
  --muted-text: #77757e;

  --input-bg: #2d2c35;
  --input-bg-hover: #24232b;
  --input-border-focus: #1d1c23;
  --input-text: var(--primary-text);
  --input-placeholder: var(--muted-text);
  --input-nav-bg: #27252e;

  --button-text: #d19361;
  --button-text-hover: #faf4ef;

  --switch-bg: var(--input-bg);
  --switch-circle-bg: #7190ff;
  --switch-circle-pos: 2.22rem;
  --icon-sun: var(--muted-text);
  --icon-moon: #dce3ff;

  --nav-bg: #1a1826;
  --mob-nav-bg: #f5f5f6;
  --mob-nav-text: #2d2c35;
  --mob-nav-border: rgba(45, 44, 53, 0.04);

  --icon-socials: var(--primary-text);
  --icon-socials-hover: #b1b0b5;

  --background: var(--light-background);
  --primary: var(--light-primary);
  --link: var(--light-link);
  --hover: var(--light-hover);
}

/* ============================================================== */
/* Hamburger and Cross for Navbar at Smaller Screen Sizes */
/* ============================================================== */

.nav-toggle {
  display: none;
  cursor: pointer;
}
.nav-btn {
  display: none;
}
.open {
  height: 21rem;
  z-index: 2;
}
.hidden {
  display: none;
}

/* ================================================= */
/* Define styles for different screen sizes */
/* ================================================= */

@media only screen and (max-width: 1536px) {
  body #hero {
    height: 40rem;
  }
  body #hero h1 {
    padding-top: 17rem;
  }
}

@media all and (max-width: 830px) {
  #sidemenu {
    padding-top: 0.25rem;
    padding-left: 0.8rem;
  }
  #logo-link {
    width: 10rem;
  }
  .nav-logo {
    height: 3.75rem;
  }
  header nav {
    height: 0;
    width: 20%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }
  header nav ul {
    flex-direction: row;
  }
  body header.sticky nav ul {
    padding: 0 1rem;
  }
  .nav-btn {
    display: block;
  }
  header nav ul li {
    height: 3rem;
    display: block;
    background: var(--mob-nav-bg);
    border-style: solid;
    border-width: thin;
    border-color: var(--mob-nav-border);
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'PPNeueMontreal-Book'; 
  }
  header nav ul li:hover {
    background: var(--primary-text);
    color: var(--page-bg);
    transition: var(--default-transition);
    cursor: pointer;
  }
  header nav ul li a {
    display: block;
    width: 100%;
    padding: 0 0 0 0.625rem;
    color: var(--mob-nav-text);
    line-height: 2.7;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: var(--primary-text);
    color: var(--primary-text);
  }
  .navIcon line {
    stroke: var(--primary-text);;
  }
}

@media only screen and (max-width: 650px) {
  body #hero h1 {
    padding-top: 9rem;
    padding-right: 2rem;
    padding-left: 1.5rem;
  }
  body #hero h2 {
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 400px) {
  body #hero {
    height: 36rem;
  }
  body #hero .arrows-body {
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 380px) {
  body #hero h2{
    font-size: 1.625rem;
    padding-top: 0.25rem;
    padding-right: 7.25rem;
  }
}

/* ================================================= */
/* General styles */
/* ================================================= */

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--fs-body);
  font-family: var(--primary-font);
  line-height: 1.6;
  margin-top: 0px; /* Add a top margin to avoid content overlay */
  justify-content: center;
  background-color: var(--page-bg);
  color: var(--primary-text);
  transition: color 0.5s;
  transition: var(--default-transition) 0.5s;
}

body::before {
  background: url(../images/bg-texture.png) repeat-y center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  content: "";
  position: fixed;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.hs-title {
  font-family: 'PPNeueMontreal-Medium';
  margin-bottom: 4rem;
  margin-top: 0;
  font-weight: var(--fw-reg);
  letter-spacing: normal;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* ================================================= */
/* Buttons */
/* ================================================= */

.btn {
  display: inline-block;
  padding: .5em 1em;
  padding-top: 0.625rem;
  align-items: center;
  height: 2.75rem;
  text-decoration: none;
  font-family: "PPNeueMontreal-Medium";
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  background-color: transparent;
  color: var(--primary-text);
	border: 1px solid var(--primary-text);
	border-radius: var(--default-border-radius);
	white-space: nowrap;
  cursor: pointer;
  transition: var(--default-transition);
}

.btn:hover {
  background-color: var(--button-text);
  color: var(--page-bg);
  border: 1px solid var(--button-text);
}

/* ================================================= */
/* Typography */
/* ================================================= */

h1,
h2,
h3, 
h4 {
  font-family: "PPNeueMontreal-Bold";
  font-weight: --fw-bold;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h6 {
  font-family: "PPNeueMontreal-Bold";
  font-weight: --fw-bold;
  line-height: 1;
  margin: 0;
  font-size: var(--fs-h4);
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

/* ================================================= */
/* Header & Nav Bar */
/* ================================================= */

section {
  border-block-end: none;
}

header {
    position: fixed;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
}

header.sticky {
  border-block-start:  1px;
  border-color: var(--primary-text);
  background-color: var(--nav-bg);
  position: fixed;
  filter: drop-shadow(7px 7px 7px rgba(0,0,0,0.05));
  width: 100%;
  transition: var(--default-transition);
  z-index: 2;
}

header.sticky nav ul {
  transition: var(--default-transition);
}

nav {
    flex: 1; /* Makes the nav container take up all remaining space */
    transition: var(--default-transition);
}

#nav-menu {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the list fills the nav container */
    justify-content: space-around; /* Spreads buttons evenly across the height */
    list-style: none;
    padding-top: 1rem;
    padding-right: 6rem;
}

.link-icon {
    font-size: 1.5rem;
    justify-content: none; /* Spreads buttons evenly across the height */
    padding: 0;
}


nav ul li {
  display: inline-block;
  font-family: "PPNeueMontreal-Book";
  font-size: 1.1rem;
  font-weight: --fw-bold;
}

.nav_link {
  display: block;
  text-align: left;
  padding-top: 2rem;
  padding-left: 4rem;
  transition: background 0.3s;
  position: relative;
  text-decoration: none;
  color: var(--primary-text);
}

.nav_link::after {
  content: "";
  position: absolute;
  left: 4rem;
  bottom: -2px; /* adjust spacing under text */
  width: 0;
  height: 2px;
  background-color: var(--primary-text);

  transition: width 0.3s ease;
  }

  .nav_link:hover::after {
      width: 130%;
  }

nav ul li a:hover {
  color: var(--button-text);
}

/* ================================================= */
/* Social List */
/* ================================================= */

#social-list {
    padding-top: 4rem;
}

.social-list_link {
    display: block;
    text-align: left;
    padding: 0rem 1rem 0.5rem 4rem;
    transition: background 0.3s;
    text-decoration: none;
    color: var(--primary-text);
}

/* ================================================= */
/* Logo */
/* ================================================= */

#logo {
  margin-top: 23.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

#text111, #rect515 {
  color: var(--primary-text);
  fill: var(--primary-text);
}


/* ================================================= */
/* Theme Switcher */
/* ================================================= */

#theme-switcher {
  background-color: var(--switch-bg);
  border-radius: 2.375rem;
  height: 2rem;
  width: 4.175rem;
  margin: 1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.95rem;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  transform: var(--default-border-radius);
}

#theme-switcher::before {
  content: '';
  position: absolute;
  width: 1.675rem;
  height: 1.675rem;
  background-color: var(--switch-circle-bg);
  border-radius: 37.5px;
  z-index: 0;
  left: 0.5px;
  transform: translateX(var(--switch-circle-pos));
  transition: var(--default-transition);
}

#theme-switcher svg {
  z-index: 2;
  transition: var(--default-transition);
  margin-left: auto;
}

/* Icons */
.icon {
  pointer-events: none;
}

/* Show only one icon depending on theme */
body.dark .sun {
  display: none;
}

body:not(.dark) .moon {
  display: none;
}
#icon-sun {
  fill: var(--icon-sun);
}

#icon-moon {
  fill: var(--icon-moon);
}

/* Knob */
.knob {
  fill: var(--knob);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ON state (dark mode) */
body.dark .track {
  fill: var(--track-on);
}

/* Move knob to the right */
body.dark .knob {
  transform: translateX(30px);
}

/* Press animation */
#theme-switch:active .knob {
  transform: scale(0.9);
}

/* ================================================= */
/* Hero */
/* ================================================= */

#hero {
  height: 12rem;
}

#hero h1 {
  text-align: left;
  font-family: "PPNeueMontreal-Thin";
  width: min-content;
  word-wrap: break-word; /* Ensures long words don't overflow */
  padding-top: 4.75rem;
  margin-left: 19rem;
}

#hero h2 {
  text-align: left;
  font-family: "PPNeueMontreal-Thin";
  padding-right: 12.5rem;
  margin-left: 19.5rem;
}

/* ================================================= */
/* About Me Styles */
/* ================================================= */

/* ================================================= */
/* Recent Work */
/* ================================================= */

/* ================================================= */
/* Experience */
/* ================================================= */

/* ================================================= */
/* Interests */
/* ================================================= */

/* ================================================= */
/* Footer */
/* ================================================= */


