.back_button {
  margin-left: 17.875rem;
  margin-top: 3.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-text);
  font-family: 'PPNeueMontreal-Thin'
}

.back_button_link {
  text-decoration: none;
  color: var(--primary-text);
  font-family: 'PPNeueMontreal-Thin'
}

#project-title {
  position: relative;
  display: inline-block;
  margin-left: 17.875rem;
  margin-top: 8.25rem;
  font-size: 2.5rem;
  font-family: 'PPNeueMontreal-Thin';
}

#project-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 765%;
  height: 1px;
  background-color: rgba(var(--primary-text-rgb), 0.5);
}

.project-links {
  position: absolute;
  right: -660%;
  bottom: 0;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-links .tag {
  font-size: 1.25rem;
  color: var(--primary-text);
  white-space: nowrap;
  font-family: "PPNeueMontreal-Thin";
}

#github_link,
#demo_link {
    text-decoration: none;
}
